
.App {
  text-align: center;
  background: #E4FF00;
  height: 100vh;
}

.line {
  flex-direction: column;
}

.Zoom {
  flex-direction: column;
}

.font-link-title {
  font-family: 'Gemunu Libre', sans-serif;
  font-size: 40px;
}

.font-link {
  font-family: 'Gemunu Libre', sans-serif;
  font-size: 30px;
}

.p-font {
  font-family: 'Gemunu Libre', sans-serif;
  font-size: 30px
}

.rectangle {
  position: fixed;
  display: inline-block;
  width: 30%;
  height: 90vh;
  margin-top: 5vh;
  left: 2.5%;
  align-content: center;
  flex-direction: column;
}

.rectangle-selec {
  display: inline-block;
  width: 12.5%;
  height: 40vh;
  margin-top: 5vh;
  margin-left: 2.5%;
  align-content: center;
  flex-direction: column;
}

.lay-rectangle {
  display: inline-block;
  width: 90%;
  height: 60vh;
  margin-top: 20vh;
  left: 5%;
  align-content: left;
  flex-direction: column;
  background: blue;
}

img {
    max-width:100%;
    max-height:50%;
}

.img-rules {
  max-width:100%;
  max-height:50%;
}

.img-test {
    max-width:100%;
    max-height:85%;
}

.img-zoom {
    max-width:100%;
    max-height:100%;
}

.rectangle2 {
  position: fixed;
  display: inline-block;
  width: 30%;
  height: 90vh;
  margin-left: 32.5%;
  margin-top: 5vh;
}

.rectangle3 {
  display: inline-block;
  width: 30%;
  height: 90vh;
  left: 2.5%;
  margin-top: 5vh;
}

.rule-rectangle {
  display: inline-block;
  width: 50%;
  height: 70vh;
  background: #E4FF00;
  margin-left: 2.5%;
  margin-bottom: 2.5%;
}

.bigCard {
  display: inline-block;
  width: 60%;
  height: 70vh;
  background: #E4FF00;
  margin-left: 2.5%;
  margin-top: 2vh;
}

.ZoomButton {
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 22px;
  font-family: 'Gemunu Libre', sans-serif;
  text-align: center;
  width: 25%;
  height: 5vh;
  background: #00FFE4;
  margin-left: 2.5%;
}

.SelecButton {
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 22px;
  font-family: 'Gemunu Libre', sans-serif;
  text-align: center;
  width: 25%;
  height: 5vh;
  background: #00FFE4;
  margin-top: -5vh;
  margin-right: 2.5%;
}

.Home {
  margin-top: 20vh;
  flex-direction: column;
}

.input {
  height: 10vh;
  width: 30%;
  font-size: 40px;
  font-family: 'Gemunu Libre', sans-serif;
  text-align: center;
}


.RuleButton {
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 22px;
  font-family: 'Gemunu Libre', sans-serif;
  text-align: center;
  width: 40%;
  height: 8vh;
  background: #00FFE4;
  margin-left: 2.5%;
}

.rule-title-font {
  background: #00FFE4;
  font-family: 'Gemunu Libre', sans-serif;
  font-size: 30px;
}

.title-font {
  font-family: 'Gemunu Libre', sans-serif;
  font-size: 40px;
}

.rule-font {
  font-family: 'Gemunu Libre', sans-serif;
  font-size: 30px;
  text-align: left;
}

.black{
  background-color: black;
  border-radius: 50%;
}

.blue{
  background-color: blue;
}
